<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.uth.mapper.memberMapper">

	<select id="memberlist" resultType="memberVO">
		SELECT * FROM tbl_member ORDER BY regdate desc
	</select>
	
	<insert id="memberjoin" parameterType="memberVO">
		INSERT INTO tbl_member(member_id, member_pw, member_name, member_email, regdate)
		VALUES (#{member_id}, #{member_pw}, #{member_name}, #{member_email}, sysdate)
	</insert>
	
</mapper>  


